<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Github:</strong>
    <%= project.github %>
  </p>

  <p>
    <strong>Live url:</strong>
    <%= project.live_url %>
  </p>

  <p>
    <strong>Tech:</strong>
    <%= project.tech %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= project.image %>
  </p>

</div>
